In [1]:
import pandas as pd

In [2]:
#SP
pd.read_csv('./../data/raw_data/withdrawal_SP.csv', encoding='utf_16', sep='\t', header=1)

,Município1,Código Município IBGE,População estimada (2020),UF1,26/02/20,27/02/20,28/02/20,29/02/20,01/03/20,02/03/20,...,26/04/21,27/04/21,28/04/21,29/04/21,30/04/21,01/05/21,02/05/21,03/05/21,04/05/21,05/05/21
0,AMERICANA,3501608,242018,SP,36%,34%,34%,35%,37%,34%,...,39%,38%,36%,36%,37%,42%,44%,37%,37%,37%
1,AMPARO,3501905,72677,SP,33%,33%,33%,35%,36%,36%,...,39%,39%,37%,36%,41%,40%,45%,37%,38%,38%
2,ANDRADINA,3502101,57202,SP,37%,36%,36%,36%,37%,39%,...,41%,41%,42%,43%,43%,41%,47%,39%,41%,43%
3,ARAÇATUBA,3502804,198129,SP,32%,NaN,NaN,NaN,33%,31%,...,37%,35%,36%,35%,37%,39%,41%,34%,34%,35%
4,ARARAQUARA,3503208,238339,SP,NaN,NaN,NaN,NaN,33%,NaN,...,38%,36%,36%,36%,37%,40%,45%,36%,36%,36%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,VARGEM GRANDE PAULISTA,3556453,53468,SP,38%,35%,34%,38%,40%,37%,...,44%,45%,44%,44%,46%,47%,53%,45%,45%,41%
136,VÁRZEA PAULISTA,3556503,123071,SP,31%,NaN,NaN,33%,36%,31%,...,40%,39%,38%,38%,40%,42%,47%,39%,39%,39%
137,VINHEDO,3556701,80111,SP,37%,34%,34%,38%,42%,37%,...,42%,38%,42%,40%,41%,43%,47%,39%,40%,40%
138,VOTORANTIM,3557006,123599,SP,32%,30%,NaN,33%,36%,33%,...,38%,38%,38%,39%,39%,40%,46%,37%,38%,36%
139,VOTUPORANGA,3557105,95338,SP,35%,37%,37%,37%,40%,40%,...,40%,37%,39%,40%,41%,42%,49%,39%,41%,40%

In [3]:
#BA
df_BA = pd.read_csv('./../data/raw_data/withdrawal_BA.csv',  sep=';')
df_BA

          City Name          Dt Isolated_city
0            Abaíra  07/11/2020         63,6%
1            Abaíra  06/11/2020         78,3%
2            Abaíra  05/11/2020         72,4%
3            Abaíra  04/11/2020         57,7%
4            Abaíra  03/11/2020         65,4%
...             ...         ...           ...
149084  Xique-Xique  05/02/2020         28,5%
149085  Xique-Xique  04/02/2020         26,9%
149086  Xique-Xique  03/02/2020         24,0%
149087  Xique-Xique  02/02/2020         34,8%
149088  Xique-Xique  01/02/2020         28,8%

[149089 rows x 3 columns]

In [5]:
pd.read_csv('./../data/raw_data/COVID.csv', encoding='utf_8')

,﻿Info,UF,Município,Metro/Interior,Data,Casos Acumulados,Casos Novos,Óbitos Acumulados,Óbitos novos
0,COVID19Casos,NaN,NaN,Interior,NaN,NaN,NaN,NaN,NaN
1,COVID19Casos,AC,AcrelÃ¢ndia,Interior,01/01/2021,563.0,0.0,12.0,0.0
2,COVID19Casos,AC,AcrelÃ¢ndia,Interior,01/02/2021,647.0,0.0,14.0,0.0
3,COVID19Casos,AC,AcrelÃ¢ndia,Interior,01/03/2021,879.0,19.0,16.0,0.0
4,COVID19Casos,AC,AcrelÃ¢ndia,Interior,01/04/2020,8.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
2282151,COVID19Casos,TO,XambioÃ¡,Interior,31/05/2020,199.0,41.0,3.0,1.0
2282152,COVID19Casos,TO,XambioÃ¡,Interior,31/07/2020,562.0,10.0,8.0,0.0
2282153,COVID19Casos,TO,XambioÃ¡,Interior,31/08/2020,718.0,1.0,10.0,1.0
2282154,COVID19Casos,TO,XambioÃ¡,Interior,31/10/2020,971.0,0.0,15.0,0.0
2282155,COVID19Casos,TO,XambioÃ¡,Interior,31/12/2020,1064.0,14.0,15.0,0.0

In [15]:
pd.read_csv('./../data/raw_data/population.csv', encoding='utf_8',  sep=';', header=4)[:-91]

            1                      Brasil  211755692
0     1100015  Alta Floresta D'Oeste (RO)    22728.0
1     1100023              Ariquemes (RO)   109523.0
2     1100031                 Cabixi (RO)     5188.0
3     1100049                 Cacoal (RO)    85893.0
4     1100056             Cerejeiras (RO)    16204.0
...       ...                         ...        ...
5565  5222005             Vianópolis (GO)    13977.0
5566  5222054         Vicentinópolis (GO)     8873.0
5567  5222203               Vila Boa (GO)     6312.0
5568  5222302          Vila Propício (GO)     5882.0
5569  5300108               Brasília (DF)  3055149.0

[5570 rows x 3 columns]